* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(FB_IMG_17493870174175207.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: white;
}

.logo {
  display: flex;
  margin-right: auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35%;
}

nav li {
  list-style: none;
  margin-left: 30px;
  height: 50px;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  /*   border: 1px solid black; */
  transition: ease 1s;
  animation: pillow 2s;
}

@keyframes pillow {
  from {
    color: black;
    border-color: none;
    scale: 2;
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    color: green;
    transform: rotate(-360deg);
    opacity: 5;
  }
}

.contents {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
